body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  padding: 20px;
}

.navbar {
  justify-content: flex-end;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.radio-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  border-radius: 10px;
}

.radio-item input:checked + span {
  background-color: #3b70b7;
  color: white;
  border-color: #3b70b7;
}

.btn {
  width: 100%;
}

input {
  color: #000;
}
